:root {
    --color-accent: #34547A;
    --color-title: #000;
    --color-main: #727272;
    --color-contrast: #fff;
    --bg-main: #EEEFF1;
    --bg-accent: #f9f9f9;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--color-main);
    background-color: var(--bg-main);
    line-height: 1.64;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    color: var(--color-title);
}

/* btn */
.btn {
    background: var(--color-accent);
    color: var(--color-contrast);
    text-decoration: none;
    min-width: 225px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    box-sizing: border-box;
}

.btn:hover, .btn:focus {
    background: var(--color-contrast);
    color: var(--color-accent);
}

.btn:active {
    opacity: .7;
}

/* center */
.center {
    padding: 0 calc(50vw - 555px);
    box-sizing: border-box;
}

.header {
    padding-top: 80px;
    padding-bottom: 20px;
    background: var(--bg-main);
    position: sticky;
    top: 0;
}

/* nav */
.nav__list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 42px;
}

.nav__link {
    color: var(--color-title);
    letter-spacing: 0.1em;
    text-decoration: none;
    text-transform: uppercase;
}

.nav__link:hover,
.nav__link:focus {
    text-decoration: underline;
}

.nav__link--active {
    opacity: .7;
    color: var(--color-accent);
    font-weight: 500;
}

/* offer */
.offer {
    padding-top: 142px;
    padding-bottom: 142px;
}

.offer__content {
    max-width: 540px;
}

.offer__title {
    font-size: 48px;
    margin-bottom: 60px;
}

.offer__desc {
    margin: 0 0 60px;
}

/* about */
.about {
    padding-top: 112px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    background-color: var(--bg-accent);
}

.about__content {
    max-width: 540px;
}

.about__title {
    font-size: 32px;
    margin-bottom: 50px;
    text-align: center;
}

.about__desc {
    margin: 0 0 60px;
    text-align: center;
}

/* img */
.img {
    background-color: var(--color-accent);
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
}

.img__center {
    margin: 22px;
}

/* how */
.how {
    padding-top: 100px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    background-color: var(--bg-main);
    position: relative;
}

.how__content {
    max-width: 540px;
}

.how__title {
    font-size: 32px;
    margin-bottom: 25px;
    text-align: center;
}

.how__desc {
    margin: 0 0 10px;
    text-align: center;
}

.container {
    margin-bottom: 100px;
    margin-top: 57px;
    position: relative;
    justify-content: center;
}

.image__1 {
    width: 1110px;
    display: block;
    transform: translate(-25%, -1%);
}

.image__2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    z-index: 10;
}

/* footer */
.footer {
    padding-top: 50px;
    padding-bottom: 50px;
    background: var(--color-accent);
    color: var(--color-contrast);
}

.footer__name {
    color: var(--color-contrast);
    margin: 0 0 20px;
    font-size: 21px;
}

.footer_copyright {
    font-size: 13px;
}

/* Media Queries */
@media (max-width: 1024px) {
    .center {
        padding: 0 20px;
    }

    .nav__list {
        gap: 20px;
    }
}

@media (max-width: 768px) {
    .offer {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .offer__title {
        font-size: 36px;
        margin-bottom: 40px;
    }

    .about {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .how {
        padding-top: 80px;
        padding-bottom: 20px;
    }

    .image__1 {
        transform: none;
    }
}

@media (max-width: 375px) {
    .nav__list {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    .offer {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .offer__title {
        font-size: 28px;
        margin-bottom: 30px;
    }

    .about {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .how {
        padding-top: 60px;
        padding-bottom: 10px;
    }

    .image__1 {
        width: 1110px;
        transform: none;
    }
}











/*:root {*/
/*    --color-accent: #34547A;*/
/*    --color-title: #000;*/
/*    --color-main: #727272;*/
/*    --color-contrast: #fff;*/
/*    --bg-main: #EEEFF1;*/
/*    --bg-accent: #f9f9f9;*/
/*}*/

/*body {*/
/*    font-family: "Roboto", sans-serif;*/
/*    color: var(--color-main);*/
/*    background-color: var(--bg-main);*/
/*    line-height: 1.64;*/
/*    display: grid;*/
/*    grid-template-rows: auto 1fr auto;*/
/*    min-height: 100vh;*/
/*}*/

/*h1, h2, h3, h4, h5, h6 {*/
/*    font-weight: 500;*/
/*    color: var(--color-title);*/
/*}*/

/*!* btn *!*/
/*.btn {*/
/*    background: var(--color-accent);*/
/*    color: var(--color-contrast);*/
/*    text-decoration: none;*/
/*    min-width: 225px;*/
/*    width: 0;*/
/*    min-height: 65px;*/
/*    display: inline-flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    padding: 20px 40px;*/
/*    box-sizing: border-box;*/
/*}*/

/*.btn:hover, .btn:focus {*/
/*    background: var(--color-contrast);*/
/*    color: var(--color-accent);*/
/*}*/

/*.btn:active {*/
/*    opacity: .7;*/
/*}*/

/*!* btn *!*/

/*.center {*/
/*    padding: 0 calc(50vw - 555px);*/
/*    box-sizing: border-box;*/
/*}*/

/*!* header *!*/
/*.header {*/
/*    padding-top: 80px;*/
/*    padding-bottom: 20px;*/
/*    background: var(--bg-main);*/
/*    position: sticky;*/
/*    top: 0;*/
/*}*/

/*!* header *!*/
/*!* nav *!*/
/*.nav__list {*/
/*    padding: 0;*/
/*    margin: 0;*/
/*    list-style: none;*/
/*    display: flex;*/
/*    gap: 42px;*/
/*}*/

/*.nav__link {*/
/*    color: var(--color-title);*/
/*    !*line-height: 164%;*!*/

/*    letter-spacing: 0.1em;*/
/*    text-decoration: none;*/
/*    text-transform: uppercase;*/
/*}*/

/*.nav__link:hover,*/
/*.nav__link:focus {*/
/*    text-decoration: underline;*/
/*}*/

/*.nav__link--active {*/
/*    opacity: .7;*/
/*}*/

/*.nav__link.nav__link--active {*/
/*    color: var(--color-accent);*/
/*    font-weight: 500;*/
/*}*/


/*!* nav *!*/
/*!* offer *!*/
/*.offer {*/
/*    padding-top: 142px;*/
/*    padding-bottom: 142px;*/
/*}*/

/*.offer__content {*/
/*    max-width: 540px;*/
/*}*/

/*.offer__title {*/
/*    font-size: 48px;*/
/*    margin-bottom: 60px;*/
/*}*/

/*.offer__desc {*/
/*    margin: 0 0 60px;*/
/*}*/

/*!* offer *!*/
/*!* about *!*/
/*.about {*/
/*    padding-top: 112px;*/
/*    padding-bottom: 100px;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    background-color: var(--bg-accent);*/

/*}*/

/*.about__content {*/
/*    max-width: 540px;*/
/*}*/

/*.about__title {*/
/*    font-size: 32px;*/
/*    margin-bottom: 50px;*/
/*    text-align: center;*/
/*}*/

/*.about__desc {*/
/*    margin: 0 0 60px;*/
/*    text-align: center;*/
/*}*/

/*!* about *!*/

/*!*img*!*/
/*.img {*/
/*    background-color: var(--color-accent);*/
/*    padding-top: 100px;*/
/*    padding-bottom: 100px;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*}*/

/*.img__center {*/
/*    margin: 22px;*/
/*}*/

/*!*img*!*/

/*!*how*!*/
/*.how {*/
/*    padding-top: 100px;*/
/*    padding-bottom: 30px;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    background-color: var(--bg-main);*/
/*    position: relative;*/
/*}*/

/*.how__content {*/
/*    max-width: 540px;*/
/*}*/

/*.how__title {*/
/*    font-size: 32px;*/
/*    margin-bottom: 25px;*/
/*    text-align: center;*/

/*}*/

/*.how__desc {*/
/*    margin: 0 0 10px;*/
/*    text-align: center;*/
/*}*/

/*.container {*/
/*    margin-bottom: 100px;*/
/*    margin-top: 57px;*/
/*    position: relative;*/
/*    justify-content: center;*/
/*}*/

/*.image__1 {*/
/*    width: 1110px;*/
/*    display: block;*/
/*    transform: translate(-25%, -1%);*/
/*}*/

/*.image__2 {*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    transform: translate(-50%, -50%);*/
/*    width: 100px;*/
/*    z-index: 10;*/
/*}*/

/*!*how*!*/

/*!* footer *!*/
/*.footer {*/
/*    padding-top: 50px;*/
/*    padding-bottom: 50px;*/
/*    background: var(--color-accent);*/
/*    color: var(--color-contrast);*/
/*}*/

/*.footer__name {*/
/*    color: var(--color-contrast);*/
/*    margin: 0 0 20px;*/
/*    font-size: 21px;*/
/*}*/

/*.footer_copyright {*/
/*    font-size: 13px;*/
/*}*/

/*!* footer *!*/